/*Footer*/

.footerbasic {
  color: var(--color-secondary);
  background-color: var(--color-lightbrown);
  padding: 20px 0;
}

.footerbasic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footerbasic ul a:hover {
  opacity: 1;
}

.footerbasic .social {
  text-align: center;
}

.footerbasic .social > a {
  font-size: 34px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footerbasic .social > a:hover {
  opacity: 0.9;
}

.footerbasic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.footerbasic .footermenu {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: var(--color-secondary);
  padding-bottom: 15px;
  margin-bottom: 0;
}
