.icons {
  background-color: #000;
  color: #fff;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(15deg)
    brightness(113%) contrast(101%);
}

.or {
  position: relative;
  font-size: 20px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

  opacity: 0.7;
}
.or:before,
.or:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: rgb(172, 172, 172);
}
.or:before {
  margin-left: -50%;
  text-align: right;
}
